version: '1.0'

services:
  backend:
    build:
      context: ./
      dockerfile: Server/Dockerfile
    container_name: backend
    ports:
      - '8000:8000'
  frontend:
    build:
      context: ./
      dockerfile: husky_sheets/Dockerfile
    container_name: frontend
    ports:
      - '3000:3000'
    depends_on:
      - backend
