.App {
  text-align: center;
  background-color: rgb(217, 170, 251);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: rgb(209, 93, 209);
  padding: 20px;
}

.App-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  gap: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}

.login-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.name-field,
.password-field {
  padding: 15px;
  font-size: 16px;
  width: 200px;
}
