.HomePage {
    background-color: rgb(237, 155, 227);
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .Home-header {
    background-color: rgb(209, 93, 209);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .Home-header h2 {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     margin: 0;
  }

  .Home-header button {
     margin-left: 1200px;
  }

  .Home-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    gap: 10px;
  }

  .popup-content {
    background-color: rgb(255, 237, 255);
    width: 500px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    align-items: center;
  }

  .popup-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .input-field {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-top: 15px;
  }

  .sheets-table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
  }

  .sheets-table button {
    padding: 8px 10px;
    font-size: 12px;
  }

.sheets-table th, .sheets-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

.sheets-table th {
    text-align: center;
  }

.sheets-table td {
    text-align: left;
  }

.sheets-table td:nth-child(1) {
    text-align: left;
    width: 10%;
  }

.sheets-table td:nth-child(2) {
    text-align: center;
    width: 80%;
  }