.Registration {
    background-color: rgb(237, 155, 227);
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .Register-header {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .Register-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    gap: 10px;
  }

  .button-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: -40px;
  }
  
  .name-field {
    padding: 15px;
    font-size: 16px;
    margin: 10px 0;
  }