
.Sheet {
  background-color: rgb(237, 155, 227);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }
  
  .Sheet-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Sheet-logo {
      animation: Sheet-logo-spin infinite 20s linear;
    }
  }
  
  .Sheet-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Sheet-link {
    color: #61dafb;
  }
<<<<<<< HEAD

  .dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc; /* Border style */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dialog-content {
    text-align: center;
  }
  
  .dialog button {
    margin-top: 10px;
  }
=======
>>>>>>> bcea8081d2601a7c22294dc894ab014f89d59a02
  
  @keyframes Sheet-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  