
.Sheet {
  background-color: rgb(237, 155, 227);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }
  
  .Sheet-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Sheet-logo {
      animation: Sheet-logo-spin infinite 20s linear;
    }
  }
  
  .Sheet-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Sheet-link {
    color: #61dafb;
  }
  
  @keyframes Sheet-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  